<footer class="main-footer">
  <div class="footer-container">

    <div class="footer-section brand">
      <h3 class="n-logo">N'asturaleza</h3>
      <p>Experiencias salvajes</p>
      <p>TA-443-AS</p>
      <img src="assets/images/turismo_activo.svg" class="logo" alt="Logo turismo activo">
    </div>

    <div class="footer-section links">
      <h4>Explora</h4>
      <ul>
        <li><a [routerLink]="['/']">Inicio</a></li>
        <li><a [routerLink]="['/activities/avistamiento']">Observación de fauna</a></li>
        <li><a [routerLink]="['/activities/rutas']">Rutas</a></li>
        <li><a [routerLink]="['/activities/fotografia']">Fotografía</a></li>
      </ul>
    </div>

    <div class="footer-section social">
      <h4>Síguenos</h4>
      <div class="social-icons">
        <a href="https://www.instagram.com/nasturaleza.experiencias?igsh=NTI0Mzg2NWN6dWg4" aria-label="Instagram"><i
            class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/share/19iU6q1BNh/" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://wa.me/34616877203" aria-label="WhatsApp"><i class="bi bi-whatsapp"></i></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 N'asturaleza - Todos los derechos reservados.</p>
     <div class="legal-links">
      <a [routerLink]="['/aviso-legal']">Aviso Legal</a>
    </div>
  </div>
</footer>