<section class="header-content">
  <div class="header-image-container">
    @if (isVideo()) {
    <video #videoElem playsinline autoplay loop muted preload="none" class="main-featured-img" [poster]="poster()">
      <!-- Móvil -->
      <source [src]="srcVideoMobile()" type="video/webm" media="(max-width: 768px)" />

      <!-- Escritorio -->
      <source [src]="srcVideoDesktop()" type="video/webm" media="(min-width: 769px)" />
    </video>

    }@else{
    <img [src]="srcImagen()" class="main-featured-img">
    }

  </div>
  <div class="video-overlay-content">
    <header class="title">
      @if (isVisible()) {
      <h1 [class]="claseAnimacion()">
        {{ title() }}
      </h1>
      }
    </header>
  </div>
</section>