<div class="main-wrapper">
  <section class="header-about">
    <header class="title">
      <h1>Experiencias de naturaleza y fauna salvaje en Asturias</h1>
    </header>

    <div class="header-image-container">
      <img src="assets/images/foto_inicio.jpeg" alt="N'asturaleza Asturias" class="main-featured-img">
    </div>
  </section>

  <section class="button-group">
    <button mat-stroked-button (click)="toActivities()" class="full-width-btn btn-nature">
      <mat-icon>explore</mat-icon> EXPLORAR ACTIVIDADES
    </button>

    <a href="https://wa.me/34727702571?text=¡Hola!" class="contact-link">
      <button mat-stroked-button class="full-width-btn btn-contact">
        <mat-icon>call</mat-icon>
        CONTACTAR
      </button>
    </a>
  </section>

  <section class="about-me-section">
    <h2>Sobre mí</h2>
    <mat-card class="about-card">
      <mat-card-content class="about-content">
        <img src="assets/images/1765626582748.webp" alt="Perfil Guía" class="profile-avatar">
        <div class="about-text-area">
          <h3>Diego Álvarez</h3>
          <p class="about-description">Docente y guía especializado en la observación e interpreta
            ción del medio natural en Asturias. Te ofrezco experiencias guiadas y adaptadas a cada época
            del año y a cada grupo. ¿Te animas?.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </section>

  @if (!isMobile()) {
  <section class="activities">
    <h2>Nuestras actividades</h2>
    <div class="grid-layout">
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>visibility</mat-icon>
          <mat-card-title>Avistamiento de fauna</mat-card-title>
          <mat-card-subtitle>Oso pardo, lobo ibérico</mat-card-subtitle>
        </mat-card-header>
        <div class="card-btn-area">
          <button mat-stroked-button color="accent">RESERVAR AHORA</button>
        </div>
        <img mat-card-image src="assets/images/DSC06517.JPG" alt="Lobo ibérico">
      </mat-card>

      <mat-card class="custom-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>pets</mat-icon>
          <mat-card-title>Rutas interpretativas</mat-card-title>
          <mat-card-subtitle>Descubriendo indicios y rastros</mat-card-subtitle>
        </mat-card-header>
        <div class="card-btn-area">
          <button mat-stroked-button color="accent">RESERVAR AHORA</button>
        </div>
        <img mat-card-image src="assets/images/DSC08309.JPG" alt="Ruta">
      </mat-card>

      <mat-card class="custom-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>photo_camera</mat-icon>
          <mat-card-title>Fotografía de naturaleza</mat-card-title>
          <mat-card-subtitle>Fotografías autóctonas</mat-card-subtitle>
        </mat-card-header>
        <div class="card-btn-area">
          <button mat-stroked-button color="accent">RESERVAR AHORA</button>
        </div>
        <img mat-card-image src="assets/images/DSC08309.JPG" alt="Fotografía">
      </mat-card>

    </div>
  </section>
  }

  <section class="reviews-section">
    <h2>Opiniones de otros clientes</h2>

    <div class="reviews-list">
      @if (listaReviews().length === 0) {
      <p class="empty-msg">Aún no hay reseñas. ¡Sé el primero!</p>
      }

      @for (item of listaReviews(); track item.id) {
      <mat-card class="review-card">
        <mat-card-content>
          <div class="review-header">
            <span class="user-name">{{ item.name }}</span>
            <div class="display-stars">
              @for (s of [1,2,3,4,5]; track s) {
              <mat-icon class="mini-star">{{ item.rating >= s ? 'star' : 'star_border' }}</mat-icon>
              }
            </div>
          </div>
          <p class="comment-text">{{ item.comment }}</p>
          <span class="date">{{ item.created_date | date:'dd/MM/yyyy' }}</span>
        </mat-card-content>
      </mat-card>
      }
    </div>

  </section>
</div>