<div class="main-wrapper">

  <app-header [isVideo]="true" claseAnimacion="animacion-lenta" srcVideo="assets/videos/video_inicio.mov"
    title="Experiencias de naturaleza y fauna salvaje de Asturias">
  </app-header>

  <section class="nature-text">
    <p>
      <span class="phrase-part">"Lo que se conoce se valora,</span>
      <span class="phrase-part">y lo que se valora se cuida"</span>
    </p>
  </section>

  <app-button-group></app-button-group>

  <div class="mountain-divider-container">

    <div class="mountain-layer layer-back">
      <svg viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path
          d="M0,160L80,186.7C160,213,320,267,480,245.3C640,224,800,128,960,112C1120,96,1280,160,1360,192L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
      </svg>
    </div>

    <div class="mountain-layer layer-front">
      <svg viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path
          d="M0,224L60,213.3C120,203,240,181,360,186.7C480,192,600,224,720,229.3C840,235,960,213,1080,186.7C1200,160,1320,128,1380,112L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
        </path>
      </svg>
    </div>

  </div>

  <section #seccionSobreMi class="about-me-section" [class.visible]="isVisible()">
    @if (!isMobile()) {
    <img src="assets/images/diego.svg" alt="Diego" class="svg-importado">
    }
    @else{
    <img src="assets/images/diego_movil.svg" alt="Diego" class="svg-importado">
    }

    <div class="about-text-area">
      <h2 class="about-title">Diego Álvarez</h2>
      <p class="about-description">
        Soy guía de naturaleza y senderismo, además de maestro de Educación Primaria, con una profunda vocación por la
        enseñanza y la divulgación del medio natural. A lo largo de los años me he especializado en el rastreo y
        avistamiento de fauna salvaje, desarrollando una mirada atenta y respetuosa que me permite interpretar los
        pequeños detalles que la naturaleza nos ofrece.
      </p>
      <p class="about-description">
        Apasionado de Asturias y de todo su patrimonio natural, he pasado gran parte de mi vida recorriendo sus montes,
        bosques y costas, aprendiendo directamente del entorno y acumulando una valiosa experiencia sobre el terreno.
        Este conocimiento, unido a mi formación pedagógica, me permite diseñar experiencias enriquecedoras, adaptadas a
        todo tipo de público.
      </p>
      <p class="about-description">
        Tras años de aprendizaje y vivencias en la naturaleza, he decidido emprender este proyecto personal con el
        objetivo de compartir mi forma de entender y vivir el entorno natural. A través de actividades como la
        observación de fauna, rutas interpretativas y fotografía de naturaleza, ofrezco experiencias personalizadas que
        buscan no solo mostrar, sino también enseñar a mirar, comprender y respetar la naturaleza.

      </p>
      <p class="about-description">
        Mi propósito es que cada persona que me acompañe se lleve algo más que una ruta: una conexión auténtica con el
        entorno y una nueva manera de descubrir la naturaleza.
      </p>
    </div>
  </section>


  <section class="activities">
    <h2>Nuestras actividades</h2>
    <div class="grid-layout">

      <a [routerLink]="['/activities/avistamiento']" class="activity-link">
        <img class="svg-boton" src="assets/images/fauna.svg" alt="Actividad Fotografía">
      </a>

      <a [routerLink]="['/activities/rutas']" class="activity-link">
        <img class="svg-boton" src="assets/images/senderismo.svg" alt="Actividad Fotografía">
      </a>

      <a [routerLink]="['/activities/fotografia']" class="activity-link">
        <img class="svg-boton" src="assets/images/fotografia.svg" alt="Actividad Fotografía">
      </a>

    </div>
  </section>


  <section class="reviews-section">
    <h2>Reseñas</h2>


    <div class="carousel-wrapper">


      @if (listaReviews().length === 0) {
      <p class="empty-msg">Aún no hay reseñas. ¡Sé el primero!</p>
      }
      @else{
      <button mat-icon-button class="nav-btn left mat-elevation-z4" (click)="scroll('left')">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div class="carousel-container">
        <div class="carousel-track" #carouselTrack>
          @for (item of listaReviews(); track item.id) {
          <div class="carousel-item">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <div mat-card-avatar class="user-avatar">
                  <mat-icon>account_circle</mat-icon>
                </div>

                <mat-card-title>{{item.name}}</mat-card-title>

                <mat-card-subtitle>
                  <div class="stars-container">
                    @for (s of [1,2,3,4,5]; track s) {
                    <mat-icon class="mini-star">{{ item.rating >= s ? 'star' : 'star_border' }}</mat-icon>
                    }
                  </div>
                  <p class="google-link">
                    Reseña de <a [href]="item.url" target="_blank">Google</a>
                  </p>
                </mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <p class="comment-text">
                  {{item.comment}}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          }
        </div>
      </div>
      <button class="nav-btn right mat-elevation-z4" mat-icon-button (click)="scroll('right')">
        <mat-icon>chevron_right</mat-icon>
      </button>
      }
    </div>
  </section>
</div>