<div class="tabs-page-wrapper">
  <div class="nav-header">
    <button mat-icon-button routerLink="/" class="back-btn">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="nav-title">Nuestras Experiencias</span>
  </div>

  <mat-tab-group mat-stretch-tabs="true" class="custom-tabs">
    
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">visibility</mat-icon>
        <span>Avistamiento</span>
      </ng-template>
      
      <div class="tab-content-area" >
        <div class="text-content">
          <h2>Avistamiento de Fauna</h2>
          <p>Observa al oso pardo, al lobo ibérico y otras especies emblemáticas en su hábitat natural de la Cordillera Cantábrica.</p>
          <button mat-flat-button color="primary" class="book-btn">RESERVAR AHORA</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">pets</mat-icon>
        <span>Rutas</span>
      </ng-template>
      
      <div class="tab-content-area">
        <div class="text-content">
          <h2>Rutas Interpretativas</h2>
          <p>Aprende a leer el bosque. Descubrimos indicios, rastros y huellas mientras exploramos los rincones más vírgenes de Asturias.</p>
          <button mat-flat-button color="primary" class="book-btn">RESERVAR AHORA</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">photo_camera</mat-icon>
        <span>Fotografía</span>
      </ng-template>
      
      <div class="tab-content-area">
        <div class="text-content">
          <h2>Fotografía de Naturaleza</h2>
          <p>Capta la esencia de la vida salvaje. Sesiones técnicas para fotografiar especies autóctonas en libertad absoluta.</p>
          <button mat-flat-button color="primary" class="book-btn">RESERVAR AHORA</button>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>