h2 {
  font-size: 4.5rem;
  color: rgb(46, 82, 46);
  line-height: 1.5;
  text-align: center;
  margin-top: 5%;
  margin-bottom: -3%;
}


/* Contenedor con altura mínima para evitar que el fondo "baile" al cambiar */

.tab-description {
  font-family: "Belleza", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-align: justify;
  white-space: pre-line;
}

.tab-container {
  min-height: 600px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: black;
  text-align: center;
  background-color: #f2e8df;
}

/* Selector horizontal tipo "Pills" */
.animal-selector {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  scrollbar-width: none;
  /* Oculta scroll en Firefox */
  justify-content: center;
}

.animal-selector::-webkit-scrollbar {
  display: none;
}

/* Oculta scroll en Chrome */

.animal-selector button {
  border: 1px solid #034001;
  background: transparent;
  color: black;
  padding: 8px 20px;
  border-radius: 25px;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}

.animal-selector button.active {
  background: #6F7303;
  color: #1a1e1a;
  border-color: #034001;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

/* ESTILO BASE PARA AMBOS */
.full-width-btn {
  height: 54px;
  border-radius: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background: #2d3001;
  color: white;
}

/* BOTÓN EXPLORAR: Verde Musgo Profundo con Degradado */
.btn-nature {
  box-shadow: 0 4px 15px rgba(27, 58, 26, 0.4);
}

/* BOTÓN CONTACTAR: Estilo Cristal (Glassmorphism) con borde WhatsApp */
.btn-contact {
  box-shadow: 0 4px 15px rgba(27, 58, 26, 0.4);
}

.contact-link {
  text-decoration: none;
  display: contents;
  width: 100%;
}

.bi-whatsapp {
  margin-right: 8px;
}

.full-width-btn:hover {
  transform: scale(0.96);
  filter: brightness(1.5);
}

mat-icon {
  margin-right: 8px;
  font-size: 20px;
  width: 20px;
  height: 20px;

  vertical-align: middle;
  margin-bottom: 5px;
}

:host ::ng-deep .mat-mdc-tab .mat-ripple-element {
  background-color: #034001 !important;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #034001 !important;
  font-weight: 600;
}

::ng-deep .mat-mdc-tab-group.mat-primary .mdc-tab-indicator__content--underline {
  border-color: #034001 !important;
  border-width: 3px;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: black;
}

::ng-deep .mat-mdc-tab .mat-mdc-focus-indicator {
  display: none;
}


/* --- CARRUSEL --- */

.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: #f2e8df;
  padding: 40px 60px;
  border-radius: 25px;
  overflow: visible;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px 5px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border-radius: 20px;
}

.carousel-track::-webkit-scrollbar {
  display: none;
}

/* --- CADA FOTO (ITEM) --- */
.carousel-item-ruta {
  flex: 0 0 40%;
  scroll-snap-align: center;
  aspect-ratio: 4 / 5;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(163, 193, 173, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s ease;
  will-change: transform;
  touch-action: manipulation !important;
}

.carousel-item-foto {
  flex: 0 0 50%;
  scroll-snap-align: center;
  aspect-ratio: 3 / 2;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(163, 193, 173, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s ease;
  will-change: transform;
  touch-action: manipulation !important;
}



/* --- CONTENEDOR PRINCIPAL DE LOS PICOS --- */
.mountain-divider-container {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  line-height: 0;
  margin-top: -100px;
  z-index: 5;
}

.mountain-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mountain-layer svg {
  width: 100%;
  height: 100%;
  display: block;
}


.layer-back {
  fill: #2d5a27;
  opacity: 0.4;
  z-index: 1;
  overflow: hidden;
  transform: translateX(-5%);

}

.layer-front {
  fill: #f2e8df;
  z-index: 2;
  overflow: hidden;
}


/* Contenedor principal de la tarjeta de Material */
.ficha-actividad {
  width: 60%;
  margin: 2rem auto;
  border-radius: 20px;
  border: 1px solid #e8e2d8;
  background-color: #fdfcf9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05) !important;
}

mat-card-header {
  justify-content: center;
}

mat-card-title {
  font-family: 'HandelsonTwo';
  font-weight: 700 !important;
  color: rgb(46, 82, 46);
  letter-spacing: 1px;
  text-align: center
}

.info-grid {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}

.info-label {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #555;
  font-weight: 500;
}

.icon-gold {
  color: #bc9d5d;
}

.icon-gold-light {
  color: #d4c197;
}

.icon-green {
  color: #2e522e;
}

.info-value {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

/* Resaltado para los precios */
.highlight {
  font-family: 'Belleza', serif;
  font-size: 1rem;
  color: #2e522e;
}

.iva-inc {
  padding: 1rem;
  padding-bottom: 0px;
  font-size: 0.8rem;
  color: #888;
  text-align: center;
  font-style: italic;
}

.info {
  font-family: "Belleza", sans-serif;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  color: #504f4f;

  /* Ajuste de distancias */
  padding: 0.5rem 1rem;
  /* 0.5 arriba/abajo, 1 a los lados */
  margin-top: 0;
  /* Quita el margen superior por defecto */
  margin-bottom: 0.5rem;
  /* Controla el hueco con el siguiente párrafo */
}

mat-divider {
  position: relative !important;
}


/* EFECTO DE HOVER (Solo en PC) */
@media (min-width: 900px) {
  .carousel-item-ruta:hover {
    transform: translateY(-10px) scale(1.03);
    /* Se levanta y agranda un poco */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    /* Sombra más intensa */
    cursor: pointer;
  }

  .carousel-item-foto:hover {
    transform: translateY(-10px) scale(1.03);
    /* Se levanta y agranda un poco */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    /* Sombra más intensa */
    cursor: pointer;
  }
}

.carousel-item-ruta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Recorta inteligentemente para rellenar */
  object-position: center;
}

.carousel-item-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Recorta inteligentemente para rellenar */
  object-position: center;
}

/* --- BOTONES DE NAVEGACIÓN --- */
.nav-btn {
  position: absolute;
  /* Se posicionan respecto al .carousel-wrapper */
  top: 50%;
  /* Los centramos verticalmente */
  transform: translateY(-50%);
  /* Ajuste fino para centrado exacto */
  z-index: 20;
  /* Por encima de todo */

  /* Estilo visual para que resalten */
  background-color: white !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Pegados a los extremos del .carousel-wrapper */
.nav-btn.left {
  left: 10px;
}

.nav-btn.right {
  right: 10px;
}


@media(max-width:800px) {
  .tab-description {
    font-family: "Belleza", sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: justify;
  }

  .info {
    font-size: 0.75rem;

  }

  /************* CARRUSEL ************/

  .carousel-wrapper {
    padding: 20px 0 !important;
    overflow: visible !important;
    /* Permitimos que el contenido fluya */
    background-color: transparent;
    display: block;
    /* Cambiamos flex por block para evitar estiramientos raros */
  }

  .carousel-container {
    overflow: visible;
    /* Liberamos la ventana en móvil */
  }

  /* 2. El track: El motor del scroll */
  .carousel-track {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch;

    /* CAMBIO CLAVE: 'manipulation' permite scroll vertical y horizontal sin bloqueos */
    touch-action: manipulation !important;

    gap: 15px;
    padding: 30px 30px;
    margin: 10px;
    scroll-snap-type: x mandatory;
    width: auto;

    /* Ocultar la barra de scroll para estética N'asturaleza */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
  }

  .carousel-item-foto,
  .carousel-item-ruta {
    flex: 0 0 90%;
  }

  .nav-btn {
    display: none !important;
    /* Aparecen las flechas */
  }

  .ficha-actividad {
    width: 90%;
  }


  .button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }

  /* ESTILO BASE PARA AMBOS */
  .full-width-btn {
    height: 54px;
    width: 100%;
    border-radius: 16px;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 1,
      /* 1 para que el icono esté relleno */
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    font-size: 24px;
  }

  .contact-link {
    text-decoration: none;
    display: block;
    /* Hace que el enlace ocupe todo el ancho */
    width: 100%;
  }

  /* Efecto al pulsar (Active) */
  .full-width-btn:active {
    transform: scale(0.96);
    filter: brightness(1.2);
  }

  /* Ajuste de Iconos */
  mat-icon {
    margin-right: 8px;
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}