/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; overflow: hidden; 
  width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html ::-webkit-scrollbar{
  width: 8px; 
}

html ::-webkit-scrollbar-thumb{

background-color: rgb(162, 155, 155);
border-radius: 10px;
background-clip: content-box;
}

@font-face {
  font-family: 'Belleza';
  src: url('assets/fonts/Belleza-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('assets/fonts/CormorantGaramond-Light.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
h1{
  font-family: 'Cormorant Garamond', serif;
}
h2 {
  font-family: 'HandelsonTwo';
}


@media (max-width: 800px) {

  html ::-webkit-scrollbar{
  width: 0px; 
}
}